@tailwind base;
@tailwind components;
@tailwind utilities;

.textoBlanco {
 color: white;
}

.textoAzul{
    color: #1F496F;
}

.textoCafe{
    color: #C7B19C;
}

input::placeholder {
    color: #1F496F;
}